[Unit]
Description=Relay management to turn speakers on/off
[Service]
ExecStart=/usr/bin/expect /etc/Scripts/speakers_relay.exp
Restart="Always"
[Install]
WantedBy=default.target
